
[client]
default-character-set=utf8mb4
[mysql]
default-character-set=utf8mb4

[mysqld]
skip_ssl
skip-ssl-session-cache-mode

# bind-address = 0.0.0.0
bind-address = 0.0.0.0
# bind-address = ::

# 跳过密码登录
# skip-grant-tables

collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci'
character-set-server = utf8mb4
innodb_ft_min_token_size = 1
ft_min_word_len = 1
innodb_ft_enable_stopword = OFF
ft_stopword_file = ''



