name: build-php-cli-linux-x86_64

on: [ push, pull_request ]

env:
  BUILD_PHP_VERSION: 8.2.4

jobs:
  linux-x86_64:
    if: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Prepare Source Code
        run: |
          lscpu
          echo $PATH
          env
          docker info
          id -u
          id -g
          who
          cat /etc/os-release
          hostnamectl
          uname -s
          uname -m
          uname -r

          # echo "BUILD_PHP_VERSION=8.2.4" >> "$GITHUB_ENV"

          export IPV6=$(ip -6 address show  | grep inet6 | awk '{print $2}' | cut -d'/' -f1 | sed -n '2p')
          export IPV4=$(ip -4 address show  | grep inet | grep -v 127.0.0 | awk '{print $2}' | cut -d'/' -f1 | sed -n '1p')
          echo $IPV4
          echo $IPV6
          echo "X_IPV6=${IPV6}" >> $GITHUB_ENV
          echo "X_IPV4=${IPV4}" >> $GITHUB_ENV

          git submodule update --init

      - name: Prepare Libraries and Extensions
        uses: addnab/docker-run-action@v3
        with:
          #image: docker.io/jingjingxyk/build-swoole-cli:download-box-nginx-alpine-20230429T061856Z
          image: docker.io/jingjingxyk/build-swoole-cli:download-box-nginx-alpine-20230505T112517Z
          options: -v ${{ github.workspace }}:/work -w /work
          run: |
            set -x
            mkdir -p pool/lib
            mkdir -p pool/ext
            mkdir -p ext
            cp -rf /usr/share/nginx/html/extensions/* pool/ext
            cp -rf /usr/share/nginx/html/libraries/* pool/lib
      - name: Prepare
        uses: addnab/docker-run-action@v3
        with:
          image: docker.io/jingjingxyk/build-swoole-cli:native-php-all-dependencies-alpine-php-8.2.4-x86_64-20230504T141620Z
          #image: docker.io/jingjingxyk/build-swoole-cli:all-dependencies-alpine-swoole-cli-x86_64-20230505T120137Z
          options: -v ${{ github.workspace }}:/work -w /work
          run: |
            set -eux
            # export PATH=/work/bin/runtime:$PATH  # 容器已经内置 php 和 composer 容器

            # composer update --no-dev  --optimize-autoloader
            composer update   --optimize-autoloader
            php prepare.php  --with-global-prefix=/usr --with-swoole-pgsql=1  +inotify +apcu +ds +xlswriter +ssh2 +pgsql +pdo_pgsql -mongodb

            chmod a+x make.sh
            head -n 20 make.sh
            php ./vendor/bin/phpunit ./sapi/unit/MainTest.php  --list-tests
            php ./vendor/bin/phpunit ./sapi/unit/MainTest.php

      - name: Build
        uses: addnab/docker-run-action@v3
        with:
          image: docker.io/jingjingxyk/build-swoole-cli:native-php-all-dependencies-alpine-php-8.2.4-x86_64-20230504T141620Z
          # image: docker.io/jingjingxyk/build-swoole-cli:all-dependencies-alpine-swoole-cli-x86_64-20230505T120137Z
          options: -v ${{ github.workspace }}:/work -w /work -e "BUILD_PHP_VERSION=${{ env.BUILD_PHP_VERSION }}"
          run: |

            apk update
            apk add libc++-static

            bash ./make.sh liblz4
            bash ./make.sh liblzma
            bash ./make.sh libzstd
            bash ./make.sh libzip
            bash ./make.sh brotli
            bash ./make.sh curl
            bash ./make.sh imagemagick
            bash ./make.sh pgsql

            bash ./make.sh config
            bash ./make.sh build
            bash ./make.sh archive
            # ./php-src/sapi/cli/php ./vendor/bin/phpunit ./sapi/unit/MainTest.php  --list-tests
            # ./php-src/sapi/cli/php ./vendor/bin/phpunit ./sapi/unit/MainTest.php

      - name: Show Build Result
        run: |
          ./php-src/sapi/cli/php -v
          ./php-src/sapi/cli/php -m
          ./bin/php-${{ env.BUILD_PHP_VERSION }}/bin/php -v
          file ./bin/php-${{ env.BUILD_PHP_VERSION }}/bin/php
          readelf -h ./bin/php-${{ env.BUILD_PHP_VERSION }}/bin/php
          ./bin/php-${{ env.BUILD_PHP_VERSION }}/bin/php -r "echo PHP_VERSION;"

      - name: production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: php-cli-linux-x64-${{ env.BUILD_PHP_VERSION }}
          retention-days: 7
          path: ./bin/php-${{ env.BUILD_PHP_VERSION }}/bin/php

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            php-cli-v${{ env.BUILD_PHP_VERSION }}-linux-x64.tar.xz
