name: build-swoole-cli-linux-with-gcc-x86_64

on: [ push, pull_request ]

jobs:
  linux-gcc-x86_64:
    if: ${{ !contains(github.event.head_commit.message, '--filter=') || contains(github.event.head_commit.message, '[linux-gcc-x86_64]') }}
    runs-on: ubuntu-22
    steps:
      - uses: actions/checkout@v4
      - name: Show Environment Info
        run: |
          echo $PATH
          env
          docker info
          id -u
          id -g
          who
          cat /etc/os-release
          hostnamectl
          uname -s
          uname -m
          uname -r

          cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c
          cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l
          cat /proc/cpuinfo | grep "cpu cores" | uniq
          cat /proc/cpuinfo| grep "processor"| wc -l
          lscpu

          export IPV6=$(ip -6 address show  | grep inet6 | awk '{print $2}' | cut -d'/' -f1 | sed -n '2p')
          export IPV4=$(ip -4 address show  | grep inet | grep -v 127.0.0 | awk '{print $2}' | cut -d'/' -f1 | sed -n '1p')
          echo $IPV4
          echo $IPV6
          echo "X_IPV6=${IPV6}" >> $GITHUB_ENV
          echo "X_IPV4=${IPV4}" >> $GITHUB_ENV

      - name: Prepare Build Environment
        run: |
          git submodule update --init

          sudo mkdir -p /usr/local/swoole-cli
          uid=$(id -u) && gid=$(id -g) && sudo chown -R ${uid}:${gid} /usr/local/swoole-cli

          mkdir -p ${{ github.workspace }}/var/build-github-action-container/

      - name: Cache PHP Runtime
        uses: actions/cache@v4
        id: php-runtime-cache-x86_64
        with:
          path: ${{ github.workspace }}/runtime
          key: ${{ runner.os }}-x86_64-php-runtime

      - name: Cache PHP Vendor
        uses: actions/cache@v4
        id: php-vendor-cache-x86_64
        with:
          path: ${{ github.workspace }}/vendor
          key: ${{ runner.os }}-x86_64-php-vendor

      - name: Cache Dependency Source Code Tarball
        uses: actions/cache@v4
        id: pool-cache
        with:
          path: ${{ github.workspace }}/pool/
          key: source-code-tarball-pool

      - name: Cache all-library
        uses: actions/cache@v4
        id: all-library-cache-x86_64
        with:
          path: /usr/local/swoole-cli
          key: ${{ github.head_ref || github.ref_name }}-${{ runner.os }}-x86_64-all-library

      - name: Prepare Runtime and Libraries and Extensions
        run: |
          set -x
          mkdir -p pool/lib
          mkdir -p pool/ext
          mkdir -p bin/
          mkdir -p runtime/
          test -f runtime/php && rm -f runtime/php
          if [ ! -f runtime/php/php ] ; then
              bash  setup-php-runtime.sh
          fi
          bash sapi/download-box/download-box-get-archive-from-server.sh
          ls -A pool/lib/
          ls -A /usr/local/swoole-cli/

      - name: Build
        run: |
          set -eux
          uname -m
          composer install  --no-interaction --no-autoloader --no-scripts --profile
          composer dump-autoload --optimize --profile

          php prepare.php --with-libavif

          bash ./ext/swoole/scripts/install-deps-on-ubuntu.sh
          apt install -y liburing-dev
          bash make.sh build
          bash make.sh archive

      - name: Show Build Result
        run: |
          ./bin/swoole-cli -v
          ./bin/swoole-cli -m
          ./bin/swoole-cli --ri curl
          ./bin/swoole-cli --ri gd
          ./bin/swoole-cli --ri imagick
          ./bin/swoole-cli --ri swoole
          { ldd ./bin/swoole-cli ; } || { echo $? ; } ;
          file ./bin/swoole-cli
          ./bin/swoole-cli sapi/scripts/copy-depend-libs.php
          patchelf --force-rpath --set-rpath '/usr/local/swoole-cli/lib' bin/swoole-cli
          wget https://github.com/goreleaser/nfpm/releases/download/v2.43.4/nfpm_2.43.4_amd64.deb
          dpkg -i nfpm_2.43.4_amd64.deb
          ./make.sh deb-pkg
